Source: pam-ssh-oidc
Section: admin
Priority: extra
Maintainer: Marcus Hardt <marcus@hardt-it.de>
Homepage: https://github.com/EOSC-synergy/ssh-oidc
Standards-Version: 4.5.0
Vcs-Git: https://github.com/EOSC-synergy/pam-ssh-oidc-packaging
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 11),
               fakeroot,
               devscripts

Package: pam-ssh-oidc
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},
Suggests: motley-cue
Description: Enable ssh to use OIDC AccessTokens via pam module
 This tool a pam module that allows the use of AccessTokens for
 authentication.

Package: pam-ssh-oidc-autoconfig
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: pam-ssh-oidc (>= ${source:Version})
Suggests: motley-cue
Description: PAM (Pluggable Authentication Modules) Plugin allowing 
 consumption of OIDC AccessTokens. This package automatically configures 
 PAM to support pam-ssh-oidc.
